//Variables
$headerColor: #262626;
$headerHeight: 100px;
//Custom Fonts
@font-face {
  font-family: "Fluo";
  src: url("../fonts/Fluo Gums.ttf") format("truetype");
}
//Common Properties
@mixin headerLink {
  text-decoration: none;
  color: white;
}

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(
    legacy-direction($direction),
    $color-stops
  );
  background: linear-gradient($direction, $color-stops);
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  @include linear-gradient(135deg, rgb(168, 132, 85), rgb(139, 92, 139));
}

.wrapper {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}

header {
  height: $headerHeight;
  width: 100%;
  background: $headerColor;
  z-index: 12;
  position: fixed;
  a {
    @include headerLink();
  }
}

nav {
  position: absolute;
  right: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 50px;
  ul {
    list-style: none;
    li {
      float: left;
      margin: 25px;
    }
  }
  img {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 50px;
    width: auto;
  }
}

.logo {
  float: left;
  line-height: 100px;
  font-family: Fluo;
  font-size: x-large;
  img {
    float: left;
    width: auto;
    height: 100px;
  }
}

.drop-down {
  visibility: hidden;
}

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 850px) {
  .drop-down {
    visibility: visible;
  }
  .default-nav {
    li {
      float: none;
      position: relative;
      top: $headerHeight;
      margin: 0;
      a {
        width: 100px;
        float: right;
        padding: 0 15px;
        background-color: $headerColor;
      }
      a:hover {
        background-color: lighten($headerColor, 5);
      }
    }
  }
}
